{% extends 'second/base.html' %}
{% load static %}

{% block title %}
<title>Про компанію</title>
{% endblock %}


{% block main %}

<div class="container-fluid about-as bg-first">
	<h2 class="h2-about-us justify-content-center">⛽SanFuel</h2>
	<h3 class="h3-about-us">ОБИРАЙ ЯКІСНЕ ПАЛЬНЕ</h3>
</div>

<div class="container">
<br>
	<h2>Про компанію</h2>
	<p>Компанія АЗС «BENZOK» розпочала свою діяльність у вересні 1993 року майже по всій території України. Автозаправні станції представлені у
       Київській, Сумській, Одеській, Дніпровській, Закарпатській, Хмельницькій, Миколаївській, Херсонській та Харківській
       областях України та налічують 140 АЗС, з яких 35 АГЗП та 43 станції у форматі магазину.<br>Компанія «BENZOK» працює в
    економ-сегменті, пропонуючи своїм клієнтам вигідні ціни на паливо (бензин, дизель, газ).</p>

</div>

<div class="upa">
	<h3 class="container">Гаряча лінія: 0 000 0 000 00 | sunfuel@gmail.com</h3>
</div>

<br>

{% endblock %}

{% block slider %}
{% endblock slider %}

{% block about-us %}
{% endblock about-us %}

{% block lastdiv %}
{% endblock lastdiv %}